/* styles.css */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fa; /* Fondo claro */
    color: #333; /* Texto oscuro */
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #000;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
}

.text-justify {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6;
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

/* Centrar contenido */
.text-center {
    text-align: center;
}